[project]
	description = Source code for Kalman filters research
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/arvindus
[access "refs/for/refs/*"]
	read = group user/arvindus
	push = group user/arvindus
	label-Code-Review = -2..+2 group user/arvindus
	label-Verified = -1..+1 group user/arvindus
	rebase = group user/arvindus
	removeReviewer = group user/arvindus
	submit = group user/arvindus
[access "refs/heads/*"]
	read = group user/arvindus
	create = group user/arvindus
	push = +force group user/arvindus
	pushMerge = group user/arvindus
[access "refs/tags/*"]
	push = +force group user/arvindus
	pushTag = group user/arvindus
	pushSignedTag = group user/arvindus
